.wow{
    color: #ff0000;
    display: block;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 15px;
    margin-top: 50px;
}

button{
    display: block;
    margin: auto;
    background: #48d104;
    padding: 15px;
    color: white;    
}

button:hover{
    background: #f52e02;
}

span{
    font-size: 25px;
    font-weight: bold;
}